$header-footer-bg: #6B6B6B;
$text-color-1: #000000;
$text-color-2: #111111;
$light-bg: #EBEBEB;
$white-color: #FFFF;
$background-D3: #D3D3D3;

// fonts
$main-font-family: "Roboto", "Arial", sans-serif;